<launch>

    <param name="home_pos_x" type="int" value="5" />
    <param name="home_pos_y" type="int" value="5" />

    <param name="person_pos_x" type="int" value="8" />
    <param name="person_pos_y" type="int" value="10" />

    <param name="map_x" type="int" value="20" />
    <param name="map_y" type="int" value="20" />

    <node name="motion_node" pkg="robot_control" type="motion.py" respawn="true"/>
    <node name="command_node" pkg="sensoring" type="command.py" respawn="true"/>
    <node name="gesture_node" pkg="sensoring" type="gesture.py" respawn="true"/>
    <node name="command_manager_state_machine" pkg="manager" type="command_manager.py" respawn="true" output="screen"/>

</launch>