<launch>

    <param name="home_pos_x" type="int" value="5" />
    <param name="home_pos_y" type="int" value="5" />

    <param name="person_pos_x" type="int" value="8" />
    <param name="person_pos_y" type="int" value="10" />

    <param name="map_x" type="int" value="20" />
    <param name="map_y" type="int" value="20" />

</launch>